@extends('home.default')
@section('title',$webConfig['setConfig']->webName)

@section('layui_this')
<li class="layui-nav-item layui-this"><a href="{{route('/')}}">首页</a></li>
<li class="layui-nav-item "><a href="{{route('home.product')}}">产品</a></li>
<li class="layui-nav-item"><a href="news.html">动态</a></li>
<li class="layui-nav-item"><a href="case.html">案例</a></li>
<li class="layui-nav-item"><a href="about.html">关于</a></li>
@endsection

@section('content')
<!-- banner部分 -->
<div>
  <div class="layui-carousel" id="banner">
    <div carousel-item>
      @foreach($banners->bannerItem as $v)
      <div>
        <img src="/fileUploads/{{$v->picture}}">
        <div class="panel">
          <p class="title">{{$v->title}}</p>
          <p>{{$v->digest}}</p>
        </div>
      </div>
      @endforeach
    </div>
  </div>
</div>
<!-- main部分 -->
<div class="main-product">
  <div class="layui-container">
    <p class="title">专为前端而研制的<span>核心产品</span></p>
    <div class="layui-row layui-col-space25">
      @foreach($product as $k=>$p)
      <div class="layui-col-sm6 layui-col-md3">
        <div class="content">
          <div><img src="{{asset(__INDEX__)}}/res/static/img/Big_icon{{$k+1}}.png">
          </div>
          <div>
            <p class="label">{{$p->title}}</p>
            <p>{{$p->describe}}</p>
          </div>
          <a href="javascript:;">查看产品 ></a>
        </div>
      </div>
      @endforeach
    </div>
  </div>
</div>
<div class="main-service">
  <div class="layui-container">
    <p class="title">为客户打造完美的<span>专业服务</span></p>
    <div class="layui-row layui-col-space25 layui-col-space80">
      @foreach($case as $c)
      <div class="layui-col-sm6">
        <div class="content">
          <div class="content-left"><img src="fileUploads/{{$c->picture}}"></div>
          <div class="content-right">
            <p class="label">{{$c->title}}</p>
            <span></span>
            <p>{{$c->abstract}}</p>
          </div>
        </div>
      </div>
      @endforeach
    </div>
    <div class="service-more"><a href="">查看更多</a></div>
  </div>
</div>
@endsection