@extends('home.default')
@section('title','产品页')

@section('layui_this')
<li class="layui-nav-item "><a href="{{route('/')}}">首页</a></li>
<li class="layui-nav-item layui-this"><a href="{{route('home.product')}}">产品</a></li>
<li class="layui-nav-item"><a href="news.html">动态</a></li>
<li class="layui-nav-item"><a href="case.html">案例</a></li>
<li class="layui-nav-item"><a href="about.html">关于</a></li>
@endsection

@section('content')
<!-- banner部分 -->
<div class="banner product" style="background-image: url(/fileUploads/{{$banner->picture}});">
  <div class="title">
    <p>{{$banner->title}}</p>
    <p class="en">{{$banner->digest}}</p>
  </div>
</div>
<!-- main部分 -->
<div class="main product">
  <div class="layui-container">
    @foreach($product as $p)
    <div class="content layui-row">
      <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img
             src="/fileUploads/{{$p->picture}}"></div>
      <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
        <p class="label">{{$p->title}}</p>
        <p class="detail">{{$p->describe}}</p>
        <div><a href="{{route('home.productDetail',['productDetailID'=>$p->id])}}">查看产品详情 ></a></div>
      </div>
    </div>
    @endforeach
  </div>
</div>
</body>

</html>
@endsection