@extends('home.default')


@section('layui_this')
<li class="layui-nav-item "><a href="{{route('/')}}">首页</a></li>
<li class="layui-nav-item layui-this"><a href="{{route('home.product')}}">产品</a></li>
<li class="layui-nav-item"><a href="news.html">动态</a></li>
<li class="layui-nav-item"><a href="case.html">案例</a></li>
<li class="layui-nav-item"><a href="about.html">关于</a></li>
@endsection



@section('content')
<!-- banner部分 -->
<div class="banner product" style="background-image: url(/fileUploads/{{$banner->picture}});">
  <div class="title">
    <p>{{$banner->title}}</p>
    <p class="en">{{$banner->digest}}</p>
  </div>
</div>


<div class="main product">
  <div class="layui-container">
    <div class="content layui-row">
      <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img
             src="/fileUploads/{{$productDetailID->picture}}"></div>
      <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
        <p class="label" style="margin: 0px;">{{$productDetailID->title}}</p>
        <p class="detail" style="padding:0px;">详细说明：{!!$productDetailID->content!!}</p>
        <p class="detail" style="margin-top: 10px;padding: 0px;">浏览量：{{$productDetailID->views}} </p>
        <p class="detail" style="margin-top: 10px;">创建时间:{{$productDetailID->created_at}} </p>


        <div><a href="{{route('home.product')}}">返回产品首页 &gt;</a></div>
      </div>
    </div>
  </div>
</div>
@endsection