@section('tittle','编辑案例');
@extends('admin.default');

<!-- 引入右边布局 -->
@section('contend')
<div class="page-header">
  <h3 class="page-title">
    <a href="{{route('admin.cases.index')}}" class="btn btn-success btn-xs">返回案例列表</a>
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">案例管理</a></li>
      <li class="breadcrumb-item active" aria-current="page">编辑案例</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <!--显示表单验证的错误信息 -->
        @if ($errors->any())
        <div class="alert alert-danger">
          <ul>
            @foreach ($errors->all() as $error)
            <li>{{ $error }}</li>
            @endforeach
          </ul>
        </div>
        @endif
        <form class="forms-sample" action="{{route('admin.cases.update',['case'=>$cases->id])}}" method="post"
              enctype="multipart/form-data">
          @method("PUT")
          <div class="form-group">
            <label for="exampleInputUsername1">案例名称</label>
            <input type="text" class="form-control" value='{{$cases->title}}' name="title" placeholder="请输入案例名字">
          </div>
          <div class="form-group">
            <label>案例图片</label>
            <input type="file" name="picture" class="file-upload-default">
            <div class="input-group col-xs-12">
              <input type="text" value="{{$cases->picture}}" class="form-control file-upload-info" disabled=""
                     placeholder="案例图片上传">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-gradient-primary" type="button">选择图片</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleTextarea1">案例排序</label>
            <input type="text" class="form-control" value='{{$cases->sort}}' name="sort" placeholder="请输入案例排序">
          </div>
          <div class="form-group">
            <label for="exampleTextarea1">摘要</label>
            <textarea class="form-control" name="abstract" rows="4"
                      placeholder="请输入案例摘要">{{$cases->abstract}}</textarea>
          </div>
          <button type="submit" class="btn btn-gradient-primary mr-2 btn-lg">保存</button>
          @csrf
        </form>
      </div>
    </div>
  </div>
</div>
<!-- 引入富文本编辑器 Neditor 文件 -->
<script src="{{asset(__ADMIN__)}}/neditor/neditor.config.js?v={{time()}}"></script>
<script src="{{asset(__ADMIN__)}}/neditor/neditor.all.min.js?v={{time()}}"></script>
<script src="{{asset(__ADMIN__)}}/neditor/neditor.service.js?v={{time()}}"></script>
<script>
  // 实例化编辑器
  setTimeout(() => {
    var ue = UE.getEditor('content', {
      autoHeight: false
    });
  }, 1000);
</script>
@endsection