@section('tittle','轮播图管理');
@extends('admin.default');

<!-- 引入右边布局 -->
@section('contend')
<div class="page-header">
  <h3 class="page-title">
    <a href="{{route('admin.bannerClassification.create')}}" class="btn btn-success btn-xs">添加轮播图分类</a>
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">轮播图管理</a></li>
      <li class="breadcrumb-item active" aria-current="page">轮播图分类列表</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <!-- 判断是否有闪存数据 -->
        @if(session()->has('arrMsg'))
        <div class="alert alert-{{session('arrMsg')['class']}}">
          {{session('arrMsg')['msg']}}
        </div>
        @endif
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th style="width:70px"> ID</th>
              <th style="width:200px"> 名称</th>
              <th style="width:200px"> 英文名称</th>
              <th style="width: 150px;"> 操作</th>
            </tr>
          </thead>
          <tbody>
            @foreach($bannerClassificationList as $item)
            <tr>
              <td>{{$item->id}}</td>
              <td>{{$item->title}}</td>
              <td>{{$item->entitle}}</td>
              <td>
                <a href="{{route('admin.bannerClassification.edit',['bannerClassification' => $item->id])}}"
                   class="btn btn-success btn-xs" role="button">编辑</a>
                <a onclick="forgedFormSubmit({{$item->id}})" class="btn btn-danger btn-xs" role="button">删除</a>
              </td>
            </tr>
            @endforeach
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- 伪造表单 实现用资源路由删除单条以及多条数据 -->
<form action="{}" method="post" id="forgedForm">
  @csrf
  @method('DELETE')
</form>
<script>
  /***
   * 伪造表单的提交
  */
  function forgedFormSubmit(id) {
    var src = "/admin/bannerClassification/" + id;
    document.getElementById("forgedForm").action = src;
    document.getElementById("forgedForm").submit();
  }
</script>
@endsection