@extends('admin.default');
@section('tittle','产品管理');


<!-- 引入右边布局 -->
@section('contend')
<div class="page-header">
  <h3 class="page-title">
    <a href="{{route('admin.product.create')}}" class="btn btn-success btn-xs">添加产品</a>
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">产品管理</a></li>
      <li class="breadcrumb-item active" aria-current="page">产品列表</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <!-- 判断是否有闪存数据 -->
        @if(session()->has('arrMsg'))
        <div class="alert alert-{{session('arrMsg')['class']}}">
          {{session('arrMsg')['msg']}}
        </div>
        @endif
        <form action="{{route('admin.product.destroy',['id' => 0])}}" method="post">
          @csrf
          @method('DELETE')
          <input type="submit" class="btn btn-outline-danger btn-lg mb-3" value="批量删除">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th style="width:20px;">
                  <button type="button" class="btn btn-outline-info btn-sm" id="CheckBox">
                    全选
                  </button>
                </th>
                <th> ID</th>
                <th> 产品名称</th>
                <th>发布时间</th>
                <th> 浏览次数</th>
                <th> 所属分类</th>
                <th> 操作</th>
              </tr>
            </thead>
            <tbody>
              @foreach($catesList as $item)
              <tr>
                <td>
                  <div class="form-check form-check-info text-center">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input checkBoxChild" value="{{$item->id}}" name="ids[]">
                    </label>
                  </div>
                </td>
                <td>{{$item->id}}</td>
                <td>{{$item->title}}</td>
                <td>{{$item->created_at}}</td>
                <td>{{$item->views}}</td>
                <td>{{$item->category->name}}</td>
                <td>
                  <a href="{{route('admin.product.edit',['product' => $item->id])}}" class="btn btn-success btn-xs"
                     role="button">编辑</a>
                  <a class="btn btn-danger btn-xs" role="button" href="javascript:;"
                     onclick="forgedFormSubmit({{$item->id}})">删除</a>
                </td>
              </tr>
              @endforeach
            </tbody>
          </table>
        </form>
      </div>
      <div style="padding: 10px 0px;">
        {{$catesList->links()}}
      </div>
    </div>
  </div>
</div>
<!-- 伪造表单 实现用资源路由删除单条以及多条数据 -->
<form action="{}" method="post" id="forgedForm">
  @csrf
  @method('DELETE')
</form>
<script src="{{asset(__ADMIN__)}}/js/misc.js?v={{time()}}"></script>
<script>
  /***
   * 伪造表单的提交
  */
  function forgedFormSubmit(id) {
    var src = "/admin/product/" + id;
    document.getElementById("forgedForm").action = src;
    document.getElementById("forgedForm").submit();
  }
</script>
@endsection